body {
    background-color: white !important;
    color: rgb(255, 255, 255);
    background-image: url(../public/top-view-notebook-with-headphones-leaves-desk.jpg);
    background-repeat: repeat;
    background-size: cover;
    margin: 0;
    padding: 0; 
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    outline: none;
    border: none;
}

/* Overlay */
.searchbar.active,
.card_con.active {
    opacity: .1;
    pointer-events: none;
}

.notepage {
    font-size: 3vmin !important;
    background-color: #00d9ff92;
    width: 60%;
    position: relative;
    top: 4vmin;
    display: block;
}

.dialog,
.notepage {
    z-index: 11;
    display: flex;
    flex-direction: column;
    width: 80%;
    border-radius: 3vmin;
    text-align: center;
    gap: 2vmin;
    justify-content: center;
    position: fixed;
    top: 9%;
    /* Adjust this value to set the desired distance from the top */
    align-items: center;
    border: none;
    font-family: sans-serif;
    background-color: rgb(255 215 0 / 89%);
    transform: scale(.01);
    transition-timing-function: linear;
    transition-property: transform visibility;
    transition: .5s;
    visibility: hidden;
}






@media (max-width: 781px) {
    .notepag_con {
        min-height: 9vh !important;
        max-height: 65vh !important;
        font-size: 4vmin !important;
    }
}

@media (max-width: 1100px) {
    .showinput{
        width: 80% !important;
    }
}





@media (max-width: 768px) {
    .searchinput {
        font-size: 3.5vmin !important;
    }

    .showinput{
        width: 75% !important;
    }

    .searchbar input:focus {
        border: 1px solid rgb(0, 255, 234) !important;
    }

    .dialog {
        top: 11%;
        gap: 0;
    }

    .dialog button {
        margin: 1.5vmin 0;
    }

    .cards {
        margin: 1vmin;
    }

    .btn-head_con * {
        font-size: 7vmin !important;
        margin: .5vmin 0 !important;
    }

    .Card_Title {
        font-size: 3.4vmin !important;
        height: 4vmin !important;
    }

    .title {
        font-size: 3vmin !important;
        margin-bottom: 2vmin !important;
    }

    .model_note {
        font-size: 3.5vmin !important;
    }

    .Card_Para {
        font-size: 3.5vmin !important;
    }

    .cards h4 {
        font-size: 3vmin;
    }

    .edit,
    .delete {
        font-size: 3vmin !important;
    }

    .done,
    .close {
        font-size: 3.5vmin !important;
    }
}



@media (max-width: 300px) {
    .dialog {
        top: 8%;
    }
}



@media (max-width: 500px) {
    .dialog {
        top: 10%;
    }

    .notepag_con {
        min-height: 5vh !important;
    }
}




/* Active class */
.dialog.active,
.dialog *.active,
.notepage.active {
    visibility: visible;
    transform: scale(1);
    transition-timing-function: linear;
    transition: all .5s;
}

.dialog h3 {
    font-size: 4vmin;
}

.model_note {
    padding: 2vmin;
    border-radius: 3vmin;
    font-size: 3vmin;
    height: 40vh;
    width: 80%;
}

.model_note::placeholder {
    color: rgb(13, 255, 0) !important;

}

.dialog button,
.notepage button {
    /*   width: 30%; */
    border: none;
    font-size: 3vmin;
    letter-spacing: 1px;
    border-radius: 10vmin;
    padding: 1.5vmin 10vmin;
    background-color: rgb(0, 123, 255);
    color: white;
}

.notepag_con {
    min-height: 15vh;
    max-height: 75vh;
    overflow-y: auto;
}

.error_msg {
    margin: 0;
    padding: 0;
    font-size: 2.6vmin;
    background-color: red;
    font-weight: bolder;
    border: none;
}

.done:hover {
    background-color: rgb(59, 59, 59);
    transition-timing-function: ease-in-out;
    transition: all .4s;
}

.done:active {
    transform: scale(.8);
    transition-timing-function: ease-in-out;
    transition: all .4s;
}

.close,
.exit {
    background-color: rgb(0, 217, 43) !important;
}

.close:hover,
.exit:hover {
    background-color: rgb(255, 0, 0) !important;
    transition-timing-function: ease-in-out;
    transition: all .4s;
}

.close:active,
.exit:active {
    transform: scale(.8);
    transition-timing-function: ease-in-out;
    transition: all .4s;
}

/* End */




.btn-head_con * {
    font-size: 6vmin;
    margin: 0 !important;
}

.card_con {
    margin: -1.5%;
    width: 90%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2vmin;
    position: relative;
    top: 4vmin;
}

.notesheading {
    color: rgb(255, 183, 0);
    margin-top: 3vmin;
    margin-bottom: 0vmin;
    text-align: center;
    font-family: sans-serif;
}

.addbtn {
    position: absolute;
    z-index: 9;
    right: 0;
    padding: 1vmin 2vmin;
    border: none;
    font-size: 5vmin;
    border-radius: 100%;
    background-color: rgb(0, 233, 233);
    color: rgb(255, 255, 255);
}

.addbtn:hover {
    background-color: rgb(132, 25, 255);
    color: rgb(0, 255, 255);
    transition-timing-function: ease-in-out;
    transition: all.4s;
    cursor: pointer;
}

.addbtn:active {
    transition-timing-function: ease-in-out;
    transition: all.4s;
    transform: scale(.8);
}

.cards {
    width: 40vmin;
    height: 40vmin;
    font-size: 3vmin;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 3vmin;
    margin: 0;
    font-family: sans-serif;
    text-align: center;
    overflow: hidden;
}

.Title_Con {
    width: 40vmin;
    height: 6.2vmin;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.Card_Title {
    margin: 1.4vmin 1.5vmin;
    font-size: 3vmin;
    position: relative;
    text-align: center;
    font-family: sans-serif;
    font-weight: bolder;
    width: 37vmin;
    height: 3.5vmin;
    overflow: hidden;
}

.Para_Con {
    cursor: pointer;
    margin: 0;
    width: 36vmin;
    padding: 0 1vmin;
    height: 28.1vmin;
    overflow: hidden;
}

.Card_Para {
    cursor: pointer;
    margin: .5vmin 0;
}

.title {
    width: 80%;
    height: 4vmin;
    border-left: solid #ff9500 1.5vmin;
    border-right: solid #ff9500 1.5vmin;
    border-radius: 5vmin;
    padding: .5vmin 1vmin;
    font-size: 2.6vmin;
    font-family: sans-serif;
    font-weight: bold;
}

.title::placeholder {
    color: rgb(255, 123, 0);
}

.cards h4 {
    margin: 1vmin 0;
}

.extra {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 4vmin;
    justify-content: space-around;
    align-items: center;
}

.extra button {
    color: rgb(0, 119, 255);
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 2vmin;
    font-family: sans-serif;
    font-size: 2.5vmin;
    font-weight: 600;
    position: relative;
    top: .2vmin;
}


.edit:hover {
    background-color: rgb(19, 188, 0);
    color: rgb(255, 255, 255);
    transition-timing-function: ease-in-out;
    transition: all.4s;
}

.delete:hover {
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    transition-timing-function: ease-in-out;
    transition: all.4s;
}

.extra button:active {
    transition-timing-function: ease-in-out;
    transition: all.4s;
    transform: scale(.8);
}

.smoothhide {
    transform: scale(.01);
    visibility: hidden;
    transition-timing-function: ease-in-out;
    transition: all .3s;
}

.searchbar {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1.5vmin 3vmin 0 3vmin; 
    width: 95vw;
}

.searchbar div {
    width: 7.6vmin;
    margin: 0 0 0 1vmin;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5vmin;
    z-index: 9;
}

.searchbar div:active {
    transform: scale(.8);
    transition-timing-function: linear;
    transition: all .5s;
}

.searchbar div img {
    border: none;
    outline: none;
    width: 100%;
    margin: 0;
}

.searchinput {
    border-radius: 3vmin;
    border: none;
    outline: none;
    font-size: 3vmin;
    font-family: sans-serif;
    padding: .8vmin;
    width: 0;
    transform: scale(.01);
    margin: 0px 0vmin 0px 3vmin;
    transition-timing-function: linear;
    transition-property: width transform;
    transition: .5s;
}

.searchinput:focus {
    border: 3px solid rgb(0, 255, 234);
}

.showinput {
    width: 86%;
    transition-timing-function: linear;
    transition: all .5s;
}

.showinput2 {
    transform: translateY(-.6vmin) scale(1) !important;
    transition-timing-function: linear;
    transition: all .2s;
}


.searchItemSmoothlyHide {
    transform: scale(.01);
    transition-timing-function: ease-in-out;
    transition: all .2s;
}

.loading{
    position: absolute;
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 100vh;
    width: 100vw;
    top: 0;
}

.loading *{
    margin: 0;
}

.loading h1{
  font-size: 8vmin;
  color: #00b7ff;
  font-family: sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  font-style: italic;
}

.loading p{
    height: 5vmin;
    width: 5vmin;
    border-radius: 100%;
    border-top: .8vmin solid red;
    border-bottom: .8vmin solid rgb(255, 102, 0);
    border-left: .8vmin solid rgb(217, 255, 0);
    border-right: .8vmin solid rgb(251, 0, 255);
    animation: loader 2s linear infinite forwards;
}

@keyframes loader{
    from{
     transform: rotate(0deg);
    }
    to{
  transform: rotate(360deg);
    }
}

.loading.active{
    transform: translateX(-100%);
    transition: all .5s;
    transition-timing-function: linear;
}