body {
  background-color: white !important;
  color: rgb(255, 255, 255);
  background-image: url(./assets/background/top-view-notebook-with-headphones-leaves-desk.jpg);
  background-repeat: repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}

button{
  cursor: pointer !important;
}

body::-webkit-scrollbar {
  width: 1vmin;
}

body::-webkit-scrollbar-track {
  border-radius: 2vmin;
}

body::-webkit-scrollbar-thumb {
  background-color: #cc00ff;
  border-radius: 2vmin;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: .5rem;
}

button {
  outline: none;
  border: none;
}

/* Overlay */
.searchbar.active,
.card_con.active {
  opacity: .1;
  pointer-events: none !important;
}



.dialog {
  z-index: 11;
  display: flex;
  flex-direction: column;
  width: 80%;
  border-radius: 3vmin;
  text-align: center;
  gap: 2vmin;
  justify-content: center;
  position: fixed;
  top: 1%;
  /* Adjust this value to set the desired distance from the top */
  align-items: center;
  border: none;
  font-family: sans-serif;
  /* background-color: rgb(255 215 0 / 89%); */
  background-color: rgb(255 176 37);
  transform: scale(.001);
  transition-timing-function: ease-in;
  transition: transform .5s;
}

.Video_Audio_Preview_Container {
  position: absolute;
  z-index: 99;
  height: 43%;
  width: 40%;
  bottom: 31vmin;
  border-radius: 1vmin;
  overflow: hidden
}

.Close_Video_Audio_Preview_Btn {
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 99;
  font-size: 4vmin;
  font-family: sans-serif;
  background-color: red;
  padding: 1vmin;
  border-radius: 1vmin 0 1vmin 0;
  cursor: pointer;
}

.Close_Video_Audio_Preview_Btn:Hover {
  background-color: #00e5ff;
  transition: all .3s ease;
}

.Video_Audio_Preview {
  height: 100%;
  width: 100%;
  border-radius: 1vmin;
  object-fit: fill;
}

/* ///////////////////////////////////// */
.Video_To_Audio_Preview_Container_Reshape {
  height: 5%;
  width: 60%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Close_Video_Preview_To_Audio_Btn {
  font-size: clamp(1.3rem, 2.3vw, 4rem);
  /* padding: 0vmin 1vmin 0 1vmin; */
  padding: 1vmin;
  border-radius: 0 1vmin 1vmin 0;
  right: 0;
}

.dialog_full_screen {
  width: 95% !important;
}

.View_Full_Screen {
  position: absolute;
  z-index: 99;
  top: 4.5vmin;
  transform: translateY(3vmin);
  right: clamp(0.5vmin, 1vw, .5rem);
  font-size: clamp(.5rem, 2vw, 2rem);
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  background: transparent;
  color: transparent;
}

.View_Full_Screen span {
  display: block;
  width: 6.5vmin;
  border-radius: 5rem;
}

.View_Full_Screen span img:hover {
  background: #1206ef;
  border-radius: 4rem;
  transform: scale(.9);
  transition: all ease-in .5s;
}

.View_Full_Screen span img {
  width: 100%;
  border-radius: 5rem;
}


.overlayer {
  position: fixed;
  top: 0;
  bottom: 0;
  background: transparent;
  left: 0;
  right: 0;
}

.document {
  max-width: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: .8vmin;
  background-color: brown;
  border-radius: 1vmin;
  padding: 0 1vmin;
  margin: 1vmin;
}

.document:hover {
  background-color: #ffc400;
  color: black;
  transition: all ease .3s;
}

.document img {
  width: clamp(.6rem, 1.5vw, 1.5rem);
}

.document a {
  word-break: break-all;
  list-style: none;
  outline: none;
  text-decoration: none;
  color: #00e5ff !important;
  font-size: clamp(.6rem, 1.5vw, 1.5rem);
  font-weight: bold;
  font-family: monospace;
}

/*     @media (max-width: 781px) {} */

@media (max-width: 1100px) {

  .showinput {
    width: 80% !important;
  }

  .Critical_Error {
    width: 35% !important;
  }

}

@media (min-width: 1100px) {

  .notepage_full_screen {
    width: 99% !important;
  }
}


@media (min-width: 1000px) {

  .img,
  .audio,
  .video,
  .document {
   max-width: 60% !important;
  }

  .img img{
    max-height: 60vh !important;
    object-fit: fill;
  }
  
}


@media (min-width: 800px) {
  
  .video video{
    max-height: 60vh !important;
    object-fit: fill;
  }
  
}


@media (max-width: 768px) {

  @media screen and (orientation: landscape) {
    .dialog {
      height: 76vh;
      top: .5vmin !important;
    }
  }

  .card_con{
    gap: 3vmin !important;
  }

  .card_con .cards:hover {
    transform: scale(1.08);
    transition: all .2s ease;
    box-shadow: none !important;
  }

  .searchinput {
    font-size: 3.5vmin !important;
  }

  .showinput {
    width: 75% !important;
  }

  .searchbar input:focus {
    border: 1px solid rgb(0, 255, 234) !important;
  }

  .dialog {
    top: 5%;
    gap: 0;
  }

  .dialog button {
    margin: 1.5vmin 0;
  }

  .cards {
    margin: 1vmin;
  }

  .btn-head_con * {
    font-size: 7vmin !important;
    margin: .5vmin 0 !important;
  }

  .Card_Title {
    font-size: 3.4vmin !important;
    height: 4vmin !important;
  }

  .title {
    font-size: 3vmin !important;
    margin-bottom: 2vmin !important;
  }

  .model_note {
    font-size: 3.5vmin !important;
  }

  .dialog_full_screen {
    width: 93% !important;
  }

  .notepage {
    width: 80%;
  }

  .notepag_con_full_screen {
    max-height: 97.5vh !important;
  }

  .notepage_full_screen {
    width: 98.5% !important;
  }

  .notepag_con p {
    font-size: clamp(1.2rem, 3.5vw, 2rem) !important;
    line-height: 7vmin !important;
  }

  .Card_Para {
    font-size: 3.5vmin !important;
  }

  .cards h4 {
    font-size: 3vmin;
  }

  .edit,
  .delete {
    font-size: 3vmin !important;
  }

  .done,
  .close {
    font-size: 3.5vmin !important;
  }

  .Critical_Error {
    width: 40% !important;
  }
}



@media (max-width: 300px) {
  .dialog {
    top: 8%;
  }
}



@media (max-width: 500px) {
  .dialog {
    top: 10%;
  }

  .Video_Audio_Preview {
    bottom: 33vmin !important;
  }
  
  .Close_Video_Preview_To_Audio_Btn {
    padding: 1vmin 1vmin 1vmin 1.7vmin;
  }
  
  .Video_To_Audio_Preview_Container_Reshape{
    width: 70%;
  }

  .dialog_full_screen {
    width: 90% !important;
  }

  .notepage {
    top: 12vmin;
  }

  .notepag_con {
    min-height: 5vh !important;
  }

  .notepag_con_full_screen {
    max-height: 98.5vh !important;
  }

  .notepag_con p {
    font-size: 5vmin !important;
    line-height: 8vmin !important;
  }

  .notepage_full_screen {
    width: 98% !important;
  }
}


/* Active class */
.dialog.active,
.notepage.active {
  transform: scale(1) !important;
  transition-timing-function: ease !important;
  transition: transform .5s !important;
}

.dialog h3 {
  font-size: 4vmin;
}

.notes_Writing_Area_Wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2vmin;
}

.model_note {
  padding: 2vmin;
  border-top-left-radius: 3vmin;
  border-bottom-left-radius: 3vmin;
  border-top-right-radius: 2vmin;
  border-bottom-right-radius: 2vmin;
  font-size: 3vmin;
  height: 40vh;
  width: 80%;
  border: none;
  outline: none;
}

.vid {
  width: 86vmin;
  margin: 0;
  display: none;
  position: absolute;
  bottom: 0;
  z-index: 2;
  pointer-events: none;
  border-top-left-radius: 3vmin;
  border-bottom-left-radius: 3vmin;
  border-top-right-radius: 2vmin;
  border-bottom-right-radius: 2vmin;
  object-fit: fill;
}


.notepag_con::-webkit-scrollbar,
.model_note::-webkit-scrollbar {
  width: 1vmin;
}

.notepag_con::-webkit-scrollbar-track,
.model_note::-webkit-scrollbar-track {
  border-radius: 3vmin;
  margin-top: 1vmin;
}

.notepag_con::-webkit-scrollbar-thumb,
.model_note::-webkit-scrollbar-thumb {
  background-color: #ff7300;
  border-radius: 3vmin;
}

.model_note::placeholder {
  color: rgb(13, 255, 0);
}

.dialog .done,
.dialog .close,
.notepage button {
  /*   width: 30%; */
  border: none;
  font-size: 3vmin;
  letter-spacing: 1px;
  border-radius: 10vmin;
  padding: 1.5vmin 10vmin;
  background-color: rgb(0, 123, 255);
  color: white;
}

.notepage {
  transform: scale(0.001);
  transition-timing-function: ease-in;
  transition: transform .4s;
  border-radius: 3vmin;
  width: 60%;
  text-align: center;
  font-family: sans-serif;
  border: none;
  position: fixed;
  top: 10vmin;
  z-index: 9;
  padding: 1vmin 1vmin 3vmin 1vmin;
}

.notepage button {
  margin: 0 0 2vmin 0;
}

.notepage_full_screen {
  width: 98.5%;
  top: 0;
  border-radius: unset;
}

.notepag_con {
  min-height: 15vh;
  max-height: 75vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.notepag_con_full_screen {
  max-height: 96.5vh;
}

.Notepage_View_Full_Screen_And_Change_Color_Container {
  width: 95%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.View_Notepage_Full_Screen {
  position: unset;
  font-size: 0 !important;
  background-color: transparent !important;
  color: transparent !important;
  transform: unset !important;
  right: unset !important;
  font-size: 0 !important;
  display: block;
  cursor: pointer;
}

.Change_Note_View_Reading_Color {
  width: 6vmin;
  height: 5.5vmin;
  border-radius: 5rem;
  background-color: #00e5ff;
  cursor: pointer;
  transform: scale(1);
  transition: transform ease-in .3s;
  border: solid .2rem;
  /* 
  border-color: yellow transparent transparent transparent; */
}

.Change_Note_View_Reading_Color img {
  width: 90%;
  height: 5.5vmin;
  border-radius: 5rem;
}

.Change_Note_View_Reading_Color:hover {
  background-color: #0077ff;
  transform: scale(.9);
  transition: all ease .3s;
}

.notepag_con p {
  font-size: clamp(1.5rem, 1.5vw, 3rem);
  word-spacing: 2px;
  word-wrap: break-word;
  width: 95%;
  line-height: 5.5vmin;
  z-index: 100;
  margin: 0;
}

.error_msg {
  margin: 0;
  padding: .2vmin 0;
  font-size: 2.6vmin;
  font-family: sans-serif;
  background-color: rgba(255, 0, 0, 0.757);
  color: white;
  font-weight: bolder;
  border-radius: 1vmin;
}

.done:hover {
  background-color: rgb(59, 59, 59);
  transition-timing-function: ease-in-out;
  transition: all .4s;
}

.done:active {
  transform: scale(.8);
  transition-timing-function: ease-in-out;
  transition: all .4s;
}

.close,
.exit {
  background-color: rgb(0, 217, 43) !important;
}

.close:hover,
.exit:hover {
  background-color: rgb(255, 0, 0) !important;
  transition-timing-function: ease-in-out;
  transition: all .4s;
}

.close:active,
.exit:active {
  transform: scale(.8);
  transition-timing-function: ease-in-out;
  transition: all .4s;
}

/* End */




.btn-head_con * {
  font-size: 6vmin;
  margin: 0 !important;
}

.card_con {
  margin: -1.5%;
  width: 90%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2vmin;
  position: relative;
  top: 4vmin;
  padding-bottom: 10vmin;
  user-select: none;
}

.notesheading {
  color: rgb(255, 183, 0);
  margin-top: 3vmin;
  margin-bottom: 0vmin;
  text-align: center;
  font-family: sans-serif;
}

.addbtn {
  position: absolute;
  z-index: 9;
  right: 0;
  padding: 1vmin 2vmin;
  border: none;
  font-size: 5vmin;
  border-radius: 100%;
  background-color: rgb(0, 233, 233);
  color: rgb(255, 255, 255);
}

.addbtn:hover {
  background-color: rgb(132, 25, 255);
  color: rgb(0, 255, 255);
  transition-timing-function: ease-in-out;
  transition: all.4s;
  cursor: pointer;
}

.addbtn:active {
  transition-timing-function: ease-in-out;
  transition: all.4s;
  transform: scale(.8);
}

.cards {
  width: 40vmin;
  height: 40vmin;
  font-size: 3vmin;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 3vmin;
  margin: 0;
  font-family: sans-serif;
  text-align: center;
  overflow: hidden;
  position: relative;
  transform: scale(1);
  transition: transform .2s ease-in;
}


.cards:hover {
  transform: scale(1.03);
  box-shadow: 0 0 30px rgba(255, 255, 255, 1),
    0 0 60px rgba(0, 149, 255, 0.8),
    0 0 90px rgba(4, 0, 255, 0.7);
  transition: all .2s ease;
}

.no_notes_message {
  position: absolute;
  display: none;
  font-size: clamp(1rem, 3vw, 3rem);
  font-weight: bolder;
  color: #00ffde;
  top: 25vmin;
}

.Title_Con {
  width: 40vmin;
  height: 6.2vmin;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.Card_Title {
  margin: 1.4vmin 1.5vmin;
  font-size: 3vmin;
  position: relative;
  text-align: center;
  font-family: sans-serif;
  font-weight: bolder;
  width: 37vmin;
  height: 3.5vmin;
  overflow: hidden;
}

.Para_Con {
  cursor: pointer;
  margin: 0;
  width: 36vmin;
  padding: 0 1vmin;
  height: 28.1vmin;
  overflow: hidden;
}

.Card_Para {
  cursor: pointer;
  margin: .5vmin 0;
}

.title {
  width: 80%;
  height: 4vmin;
  border-left: solid #ff9500 1.5vmin;
  border-right: solid #ff9500 1.5vmin;
  border-radius: 5vmin;
  padding: .5vmin 1vmin;
  font-size: 2.6vmin;
  font-family: sans-serif;
  font-weight: bold;
  border-top: none;
  border-bottom: none;
  outline: none;
}

.title::placeholder {
  color: rgb(255, 123, 0);
}

.cards h4 {
  margin: 1vmin 0;
}

.Upload_Loader {
  display: none;
  border: red solid 1vmin;
  border-radius: 8rem;
  border-bottom-color: deepskyblue;
  border-top-color: chartreuse;
  width: 2vmin;
  height: 2vmin;
  position: absolute;
  animation: UpLoader 1s ease-in infinite forwards;
}

@keyframes UpLoader {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.Upload_Loader_active {
  display: block;
}

.Upload_Loader_active_media {
  display: block;
  margin: 2vmin 0;
  z-index: 99;
  position: relative;
}



.More_Notes_Loader {
  display: block;
  /*   position: relative;
  left: 50%;
  margin: 9vmin 0 3vmin 0; */
}

.All_Notes_Loaded_Container {
  margin: 2vmin 0 0vmin 0;
  padding: 0;
  bottom: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgb(0, 200, 255);
  font-weight: bolder;
  font-family: sans-serif;

}

.All_Notes_Loaded_Message {
  margin: 0;
  padding: 1vmin 0;
  position: relative;
  text-align: center;
  font-size: 4.5vmin;
  font-weight: bold;
  font-family: sans-serif;
  color: rgb(255, 0, 183);
}

.Close_All_Notes_Loaded_Message_Btn {
  background-color: red;
  padding: 1.6vmin 3vmin;
  font-size: 3.5vmin;
  position: absolute;
  left: 0;
  border-radius: 0vmin 1vmin 1vmin 0vmin;
  cursor: pointer;
}


.Close_All_Notes_Loaded_Message_Btn:hover {
  padding: 1.6vmin 4vmin;
  background-color: rgb(255, 255, 255);
  color: red;
  transition: all ease-in .3s;
}


.extra {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 4vmin;
  justify-content: space-around;
  align-items: center;
}

.extra button {
  color: rgb(0, 119, 255);
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 2vmin;
  font-family: sans-serif;
  font-size: 2.5vmin;
  font-weight: 600;
  position: relative;
  top: .2vmin;
}


.edit:hover {
  background-color: rgb(19, 188, 0);
  color: rgb(255, 255, 255);
  transition-timing-function: ease-in-out;
  transition: all.4s;
}

.delete:hover {
  background-color: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  transition-timing-function: ease-in-out;
  transition: all.4s;
}

.extra button:active {
  transition-timing-function: ease-in-out;
  transition: all.4s;
  transform: scale(.8);
}

.smoothhide {
  transform: scale(0) !important;
  transition: all .3s ease !important;
}


.searchbar {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 1.5vmin 3vmin 0 3vmin;
  width: 95vw;
}

.searchbar div img:hover {
  background-color: #00e5ff;
  transform: scale(1.05);
  transition: all .3s ease-in;
}

.searchbar div {
  width: 7.6vmin;
  margin: 0 0 0 1vmin;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 5vmin;
  z-index: 9;
}

.searchbar div:active {
  transform: scale(.8);
  transition-timing-function: linear;
  transition: all .5s;
}

.searchbar div img {
  border: none;
  outline: none;
  width: 100%;
  margin: 0;
  border-radius: 5rem;
}

.searchinput {
  border-radius: 3vmin;
  border: none;
  outline: none;
  font-size: 3vmin;
  font-family: sans-serif;
  padding: .8vmin;
  width: 0;
  transform: scale(.01);
  margin: 0px 0vmin 0px 3vmin;
  transition-timing-function: linear;
  transition-property: width transform;
  transition: .5s;
}

.searchinput:focus {
  border: 3px solid rgb(0, 255, 234);
}

.showinput {
  width: 86%;
  transition-timing-function: linear;
  transition: all .5s;
}

.showinput2 {
  transform: translateY(-.6vmin) scale(1) !important;
  transition-timing-function: linear;
  transition: all .2s;
}


.searchItemSmoothlyHide {
  transform: scale(.01);
  transition-timing-function: ease;
  transition: all .2s;
}

.loading {
  position: fixed;
  z-index: 99;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 100vh;
  width: 100vw;
  top: 0;
}

.loading * {
  margin: 0;
}

.loading h1 {
  font-size: 8vmin;
  color: #00b7ff;
  font-family: sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  font-style: italic;
}

.loading p {
  height: 5vmin;
  width: 5vmin;
  border-radius: 100%;
  border-top: .8vmin solid red;
  border-bottom: .8vmin solid rgb(255, 102, 0);
  border-left: .8vmin solid rgb(217, 255, 0);
  border-right: .8vmin solid rgb(251, 0, 255);
  animation: loader 2s ease infinite forwards;
}

@keyframes loader {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.loading.active {
  transform: translateX(-100%);
  transition: all .5s;
  transition-timing-function: ease-in;
}

.img,
.audio,
.video {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 2vmin 0;
  position: relative;
}


.img img,
.audio audio,
.video video {
  border-radius: 2vmin;
  width: 100%;
}

.attachmentBtns {
  display: flex;
  width: 80%;
  justify-content: space-around;
  align-items: center;
  margin: 0;
}

.attachmentBtns #fileInput {
  display: none;
}

.attachmentBtns button,
.custom_Choose_file {
  font-size: 2vmin;
  font-family: sans-serif;
  padding: 1vmin;
  outline: none;
  border: none;
  margin: 0;
  background-color: rgb(251, 255, 0);
  border-radius: 5vmin;cursor: pointer;
}

/* ------------------------------------- */

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

#cameraOptions {
  text-align: center;
  margin-bottom: 20px;
  display: none;
}


#overlay {
  position: absolute;
  display: none;
  z-index: 1;
  align-items: center;
  justify-content: center;
}

#overlay .sound-bars {
  display: flex;
  gap: 5px;
}

#overlay .sound-bars div {
  width: 10px;
  height: 20px;
  background: red;
  animation: sound-bar-animation 0.6s infinite ease-in-out;
}

#overlay .sound-bars div:nth-child(2) {
  animation-delay: 0.1s;
}

#overlay .sound-bars div:nth-child(3) {
  animation-delay: 0.2s;
}

@keyframes sound-bar-animation {

  0%,
  100% {
    height: 10px;
  }

  50% {
    height: 30px;
  }
}

/* ---------------------------- */

.attachmentBtns button:hover,
.custom_Choose_file:hover {
  background-color: #cc00ff;
  transition-timing-function: linear;
  transition: all .5s;
}

.attachmentBtns button:active,
.custom_Choose_file:active {
  transform: scale(.8);
  transition-timing-function: linear;
  transition: all .5s;
}

.itemDeletePanel {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: .5%;
  top: 25vmin;
  z-index: 20;
}

.itemDeletePanel * {
  margin: .5vmin 0 !important;
  font-size: 2vmin;
  font-family: sans-serif;
  z-index: 20;
}

.itemDeletePanel button {
  padding: 1.2vmin;
  outline: none;
  border: none;
  background-color: floralwhite;
  border-top-right-radius: 3vmin;
  border-bottom-left-radius: 3vmin;
}

.itemDeletePanel button:hover {

  background-color: #cc00ff;
  transition-timing-function: linear;
  transition: all .5s;
}

.itemDeletePanel button:active {
  transform: scale(.8);
  transition-timing-function: linear;
  transition: all .5s;
}

.parent {
  height: 0;
  overflow-y: auto;
  transform: translateX(.6vmin);
  border-radius: 1vmin;
  transition-timing-function: ease-out;
  transition: height .2s;
}

.ShowBtns {
  height: 38vh !important;
  transition-timing-function: ease;
  transition: height .5s;
}

.parent::-webkit-scrollbar {
  width: .5vmin;
}

.parent::-webkit-scrollbar-track {
  background-color: transparent;
  margin-block: .6vmin;
  border-radius: 5vmin;
}

.parent::-webkit-scrollbar-thumb {
  background-color: #cc00ff;
  border-radius: 5vmin;
}


.itemShowCon {
  border-radius: 1vmin;
  overflow-y: auto;
}

.itemShowCon div div {
  background-color: rgb(0 226 25);
}

.itemsShow::-webkit-scrollbar,
.itemShowCon::-webkit-scrollbar {
  display: none;
  background-color: transparent;
}

.itemsShow {
  width: 9vmin;
  font-size: 2.4vmin;
  overflow: scroll;
  border: none;
  cursor: pointer;
  outline: none;
  padding: .5vmin;
  color: white;
}

.itemsShow:hover {
  background-color: white;
  color: black;
  transition-timing-function: linear;
  transition: all .5s;
}

.Critical_Error {
  width: 25%;
  background-color: yellow;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: sans-serif;
  position: fixed;
  z-index: 999;
  transform: translateX(-100vmin);
  transition: transform .3s ease-in;
  top: 40vh;
}

.Critical_Error_Active {
  transform: translateX(0);
  transition: transform .3s ease;
}

.Critical_Error * {
  font-weight: bolder;
}

.Critical_Error p {
  font-size: 3vmin;
  color: red;
  text-align: center;
  margin: 0 1vmin 0 1vmin;
}

.Critical_Error button {
  padding: 3.5vmin 3vmin;
  font-size: 3vmin;
  background-color: #ff7300;
  color: black;
  border: none;
  border-radius: 2vmin 0 0 2vmin;
  cursor: pointer;
}

.Critical_Error button:hover {
  background-color: black;
  color: red;
  transition: all ease-in .3s;
}

.load_more_notes {
  position: fixed;
  background-color: #888888;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.load_more_notes button {
  margin: 0;
  /* padding: 2vmin 3vmin; */
  height: 6vmin;
  width: 16vmin;
  font-size: 2.6vmin;
  font-weight: bolder;
  font-family: sans-serif;
  border: navajowhite;
  outline: none;
  border-radius: 1vmin;
  background: yellow;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.load_more_notes button:hover {
  background-color: #00e5ff;
  color: white;
  transition: all ease .3s;
}

.load_more_notes button:active {
  transform: scale(.9);
  transition: all ease .3s;
}

.storage_capacity {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 5vmin;
  width: 15vmin;
  font-weight: bolder;
  font-family: sans-serif;
  border: navajowhite;
  outline: none;
  border-radius: 1vmin;
  border: 3px solid red;
}

.storage_capacity .used_capacity {
  display: flex;
  align-items: center;
  margin: 0;
  width: 30%;
  height: 5vmin;
  background-color: #ff9500;
}

.storage_capacity .used_capacity span {
  font-size: 2.2vmin;
  color: cyan;
  position: absolute;
  font-weight: bolder;
  right: 15%;
}

.sortbtn {
  background-color: #ff9d4c !important;
}

.sortbtn:hover {
  background-color: #3bbaff !important;
  transition: all .2s ease;
}